{% extends "scon/base.html" %}

{% block context %}
<h1>Forum</h1>


<code>
	[table][tr][th]Item[/th][th]Produces[/th][/tr]
	{% for item in items %}
	{% if item.primary_recipee %}
	[tr]
		{% with item.primary_recipee as recipee %}
		
		[td]
		{{ item.name }}
		[/td]

		
		
		
		[td]
			{{ recipee.output.name }}
				[LIST]
				{% for ingredient in recipee.ingredients %}
				{% if ingredient.item != item %}
					[*]{{ ingredient.amount }} x {{ ingredient.item.name }}[/*]
				{% else %}
					{% if ingredient.amount > 1 %}
					[*][b]{{ ingredient.amount }} x [/b]{{ ingredient.item.name }}[/*]
					{% endif %}
				{% endif %}
				{% endfor %}
				[/LIST]
		[/td]
		{% endwith %}
	[/tr]
	{% endif %}
	{% endfor %}
	[/table]
</code>
{% endblock context %}